
 body{
    background-color: black;
 }
 .main{
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: -18px;
    background-position: center;
 }
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
ul {
    list-style-type: none;
    margin-left: 827px;
    position: relative;
    top: 17px;
}
ul li a{
    float: left;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    padding: 20px;
    font-family: candara;
}
#profile-photo {
    width: 400px;
    margin-left: 200px;
    margin-top: 80px;
    border-radius: 15px;
}
#about-me {
    font-family: candara;
    font-size: 30px;
    color: whitesmoke;
    margin-left: 700px;
    margin-top: -240px;
    width: 400px;
}
.logo{
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
    left: 390px;
    position: relative;
}
.footer{
    width: 100%;
    height: 600px;
    background-color: black;
}
 .ci{
    color: white;
    font-family: candara;
    font-size: 30px;
    color: whitesmoke;
    position: relative;
    top: 40px;
    text-align: center;
}
@media (max-width: 600px) {

  .main {
    background-position: top center;
    min-height: 100vh;
    padding: 0px;
    background-size: cover;
    width: 100%;
  }


  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul li a {
    font-size: 16px;
    padding: 10px;
  }


  #profile-photo {
    width: 200px;
    display: block;
    margin: 40px auto 20px;
  }


  #about-me {
    width: 100%;
    margin: 0px;
    font-size: 20px;
    text-align: center;
  }


  .logo {
    width: 60px;
    margin: 20px auto;
    display: block;
    position: static;
  }


  a[style] {
    display: block;
    margin: 10px auto;
    text-align: center;
    position: static !important;
  }


  .footer {
    height: 100vh;
    padding-bottom: 40px;
  }


  iframe {
    width: 90%;
    height: 250px;
    margin: 80px auto;
    display: block;
    border-radius: 10px;
    position: relative;
    right: 308px;
    top: 40px;
  }
  #ltgr{
    margin-right: 150px;
  }
}
iframe{
     border:0; 
     margin-top: 40px; 
     margin-left: 325px;
      border-radius: 20px;
}
/* --- Tablet responsive styles --- */
@media (min-width: 601px) and (max-width: 1024px) {

  /* Main container */
  .main {
      background-position: center;
      min-height: 100vh;
      width: 100%;
      padding: 20px;
  }

  /* Navigation */
  ul {
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      top: 10px; /* reduce top offset */
      position: relative;
  }

  ul li a {
      font-size: 18px;
      padding: 15px;
  }

  /* Profile photo */
  #profile-photo {
      width: 300px;       /* smaller than desktop */
      margin: 60px auto 20px;
      display: block;
      border-radius: 15px;
  }

  /* About text */
  #about-me {
      width: 80%;          /* narrower for tablet */
      margin: 20px auto;
      font-size: 24px;
      text-align: center;
  }

  /* Logos */
  .logo {
      width: 80px; 
      display: inline-block;
      position: static;
      margin-left: 190px;
  }

  /* Github link */
  a[style] {
      display: block;
      margin: 20px auto;
      text-align: center;
      position: static !important;
      margin-right: 200px;
  }

  /* Footer */
  .footer {
      height: 1300px;       /* let it expand naturally */
      padding-bottom: 40px;
  }

  .ci {
      font-size: 24px;    /* smaller than desktop */
      text-align: center;
      top: 20px;          /* reduce vertical offset */
  }

  /* Map iframe */
  iframe {
      width: 90%;
      height: 300px;
      margin: 40px auto;
      display: block;
      border-radius: 15px;
      position: static;
  }
}
